<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}WarehouseFlow{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', path='css/global.css') }}"
    >
    
    <link
        rel="stylesheet"
        href="{{ url_for('static', path='css/layout.css') }}"
    >

    {% block styles %}{% endblock %}

</head>

<body>

    <div class="app-layout">

        {% include "components/sidebar.html" %}

        <div class="app-main">

            {% include "components/topbar.html" %}

            <main class="app-content">

                {% block content %}{% endblock %}  

            </main>

        </div>

    </div>

    {% block scripts %}{% endblock %}

</body>
</html>